.playlist-songs-list {
  height: 22rem;
  display: grid;
  grid-template-rows: 3rem 19rem;
  .song-list,
  .list-header {
    display: grid;
    grid-template-columns: auto 8fr 4fr 2fr 2fr;
    gap: 1rem;
    padding-inline: 1rem;
    .list-header {
      border-bottom: 1px solid rgba($gray-1, 0.2);
      margin-bottom: 1rem;
      color: $gray-1;
      font-size: $font-size-14;
      align-items: center;
      grid-column: 1/-1;
      padding-inline: 1rem;
      svg {
        width: 1rem;
        height: 1rem;
        fill: $gray-1;
      }
      p {
        &:last-of-type {
          justify-self: center;
        }
      }
    }
  }
  .song-list {
    grid-area: 2/1/-1/-1;
    overflow: auto;
  }
  .song-list-header {
    grid-area: 1/1/2/-1;
    height: 100%;
  }
}
