.playlist-songs-list {
  display: grid;
  grid-template-rows: 3rem 1fr;
  gap: 1rem;
  position: relative;

  .song-list,
  .song-list-header {
    display: grid;
    gap: 1rem;
  }
  .song-list {
    grid-template-columns: 2.5rem 2.5rem 6fr 4fr 2fr 2fr;
    grid-area: 2/1/-1/-1;
  }

  .song-list-header {
    grid-template-columns: 6rem 6fr 4fr 2fr 2fr;
    align-items: center;
    grid-area: 1/1/2/-1;
    width: 100%;
    border-bottom: 1px solid rgba($gray-1, 0.2);
    color: $white-2;

    svg {
      width: 1rem;
      height: 1rem;
      fill: $gray-1;
      justify-self: center;
    }
    p {
      &:first-of-type {
        padding-left: 1rem;
      }
    }
    &.stick {
      position: sticky;
      top: 0;
      z-index: 1;
      padding-block: 0.5rem;
      backdrop-filter: blur(100000px);
    }
  }
}
