.playlist-details-actions {
  @include flex-direction-align-gap-padding(row, center, 2rem, 1rem);
  transition: all $animation-duration-base;
  top: 3rem;

  .play-btn {
    height: 2.5rem;
    width: 2.5rem;
    background: $green-1;
    border-radius: 100vw;
    padding: 0.5rem;
  }
  .like-btn {
    height: 1.5rem;
    width: 1.5rem;
    fill: $gray-1;
  }

  &.stick {
    position: fixed;
    top: 1.75rem;
    z-index: 1;
    left: 9.5rem;
  }
}

body {
  &:has(.full-size) {
    .playlist-details-actions {
      &.stick {
        position: fixed;
        top: 1.75rem;
        z-index: 1;
        left: 23.5rem;
      }
    }
  }
}
