.playlist-songs-list-preview {
  align-items: center;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  padding-block: 0.25rem;
  position: relative;
  border-radius: $border-radius-1-4;
  padding-inline: 1rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: $border-radius-1-2;
    object-fit: cover;
  }
  .hover-index {
    width: 1rem;
    button {
      display: none;
    }
  }
  .artist-and-image {
    @include flex-direction-alignItems-gap-padding(row, center, 1rem, 0);
    @include text-overflow-ellipsis-warp;
  }
  .playlist-songs-list-preview-actions {
    position: relative;
    @include flex-direction-align-justify-gap-padding(
      row,
      center,
      center,
      1rem,
      0
    );
    .like-btn,
    .song-model-btn {
      width: 1rem;
      height: 1rem;
      background-color: inherit;
      fill: $gray-1;
      opacity: 0;
      pointer-events: none;
    }
  }

  &:hover {
    background-color: $black-3;
    .like-btn,
    .song-model-btn {
      opacity: 1;
      pointer-events: all;
      cursor: pointer;
    }
    .hover-index {
      p {
        display: none;
      }
      button {
        display: block;
        width: 1rem;
        height: 1rem;
        background: inherit;
        fill: $gray-1;
        cursor: pointer;
      }
    }
  }

  .generic-model {
    opacity: 1;
  }
}
