.playlist-index-hero {
  padding-inline: 1rem;
  padding-bottom: 4rem;
  z-index: 0;
  position: relative;

  h2 {
    color: $white-1;
    font-size: $font-size-24;
    padding-block: 1rem;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(8rem, 1fr));
    grid-template-rows: repeat(2, 4rem);
    gap: 0.75rem;
    li {
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: $border-radius-1-4;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 0.3s;
      container-type: inline-size;
      container-name: playlist-hero-list-item;

      a {
        width: 100%;
        height: 100%;
        @include flex-direction-align-gap-padding(row, center, 0.5rem, 0);
        img {
          height: 4rem;
          width: 4rem;
          object-fit: scale-down;
          border-top-left-radius: $border-radius-1-4;
          border-bottom-left-radius: $border-radius-1-4;
        }
        h3 {
          font-size: $font-size-16;
          color: $white-1;
        }
      }
      button {
        @include play-btn;
        right: 10%;
        transition: opacity 0.25s ease-in-out, right 0.4s ease-in-out,
          box-shadow 0.4s ease-in-out, scale 0.2s ease-in-out;
      }

      &:hover {
        background-color: $black-5;

        button {
          right: 5%;
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
          &.playing {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
          }
          &:hover {
            scale: 1.05;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          }
        }
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

@media (max-width: 80rem) {
  .playlist-index-hero {
    h2 {
      color: $white-1;
    }
    ul {
      grid-template-rows: repeat(2, 3rem);

      li {
        a {
          img {
            height: 3rem;
            width: 3rem;
          }
          h3 {
            font-size: $font-size-14;
          }
        }
      }
    }
  }
}

@media (max-width: 60rem) {
  .playlist-index-hero {
    ul {
      grid-template-columns: repeat(2, minmax(8rem, 1fr));
      grid-template-rows: repeat(4, 3rem);
    }
  }
}
@media (max-width: 40rem) {
  .playlist-index-hero {
    ul {
      grid-template-columns: minmax(8rem, 1fr);
      grid-template-rows: repeat(auto-fill, 3rem);
      li {
        a {
          .play-btn {
            width: 2rem;
            padding: 0.25rem;
            opacity: 1;
          }
        }
      }
    }
  }
}

@container playlist-hero-list-item (max-width:12.5rem) {
  .playlist-list-preview-info {
    @include text-overflow-ellipsis;
    h3 {
      font-size: $font-size-14;
    }
    p {
      font-size: $font-size-12;
    }
  }
}
