.user-library-header {
  .create-playlist-model-con {
    position: relative;

    .create-playlist-model-btn {
      display: none;
      height: 1rem;

      svg {
        fill: $gray-1;
        width: 1rem;
      }
    }
  }
}
