.user-library-no-user {
  width: 100%;
  height: fit-content;
  background-color: $black-3;
  border-radius: $border-radius-1-2;
  @include flex-direction-gap-padding(column, 1rem, 1rem);
  h2 {
    color: $white-2;
    font-size: $font-size-16;
    font-weight: 700;
  }
}
