.user-playlist-filter {
  @include flex-direction-align-justify-gap-padding(
    row,
    center,
    space-between,
    1rem,
    0.5rem 1rem
  );
  display: none;

  .user-playlist-filter-search {
    @include flex-direction-align-gap-padding(row, center, 0.25rem, 0);

    border-radius: $border-radius-1-4;

    transition: width $animation-duration-base;
    width: 2.5rem;

    &.open {
      width: clamp(5rem, 100%, 18rem);
      background-color: $black-3;
      input {
        transition: width $animation-duration-base;
        width: calc(100% - 2.5rem);
        color: $white-1;
        font-size: $font-size-14;
      }
    }

    input {
      width: 0;
      background-color: $black-3;
    }
    .user-playlist-filter-search-btn {
      @include box(2rem);

      border-radius: 100vw;

      padding: 0.5rem;

      fill: $gray-1;
      transition: background-color $animation-duration-base;

      &:hover {
        background-color: $black-3;
        fill: $white-2;
        cursor: pointer;
      }
    }
  }

  .user-library-sort-model-con {
    position: relative;
    @include box(1rem);

    .user-library-sort-model-btn {
      @include box(1rem);

      background-color: inherit;
      fill: $gray-1;

      transition: scale 0.3s;

      &:hover {
        cursor: pointer;
        fill: $white-1;
        scale: 1.1;
      }
    }

    .user-library-sort-model {
      @include menu-top-right(1.5rem, 0);

      h2 {
        font-size: $font-size-14;
        font-weight: 400;
        color: rgba($white-2, 0.4);
      }

      button {
        height: 1.75rem;
        position: relative;
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          space-between,
          0,
          0.25rem 0.5rem
        );
        cursor: pointer;

        opacity: 1;

        width: 100%;
        background-color: inherit;

        border-radius: $border-radius-1-2;
        @include btn-hover-animation($black-6);

        svg {
          width: 0.875rem;
          aspect-ratio: 1/1;
          fill: $green-1;
        }

        span,
        svg,
        h2,
        h3,
        img {
          z-index: $z-index-btn;
        }
        h3 {
          color: $white-2;
          font-size: $font-size-14;
          font-weight: 600;
        }
      }
    }
  }
}

.full-size {
  .user-playlist-filter {
    display: flex;
  }
}

@media (max-width: rem(640px)) {
  .user-playlist-filter {
    display: none;
  }
  .small-size {
    .user-playlist-filter {
      display: flex !important;
    }
  }
}
