.user-playlist-list {
  overflow-y: auto;
  height: calc(100vh - 30rem);
  @include flex-direction-align-gap-padding(column, center, 0.25rem, 0 0.5rem);
  @include no-scrollBar;
}

.full-size {
  height: calc(100vh - 13rem);
  .user-playlist-list {
    align-items: baseline;
    width: 100%;
  }
}



@media (max-width: rem(640px)) {
  .user-playlist-list {
    gap: 0.25rem;
    .user-playlist-item {
      a {
        span,
        p {
          display: none;
        }
      }
    }
  }
}
