.login-model-btn {
  background-color: $white-2;
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius-2;
  color: $black-2;
  font-weight: 700;
  font-size: $font-size-16;
  width: fit-content;
}
