.playlists-model-con {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  .playlists-model-btn {
    width: 100%;
    height: 100%;
    background-color: inherit;
    fill: $gray-1;
    transition: transform 0.25s;
    &:hover {
      fill: $white-1;
      transform: scale(1.1);
    }
  }

  .playlists-model {
    @include flex-direction-gap-padding(column, 0.75rem, 0.75rem);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 24px 0px,
      rgba(0, 0, 0, 0.2) 0px 6px 8px 0px;
    background-color: $black-3;
    position: absolute;
    width: 13rem;
    max-width: 80vw;
    z-index: $z-index-model;
    border-radius: $border-radius-1-4;
    .playlists-model-item {
      width: 100%;
      position: relative;
      height: 1.75rem;
      a,
      button {
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          space-between,
          0,
          0.25rem 0.5rem
        );
        cursor: pointer;

        width: 100%;
        background-color: inherit;

        border-radius: $border-radius-1-2;
        svg,
        img {
          width: 0.875rem;
          aspect-ratio: 1/1;
          fill: $white-2;
          background-color: inherit;
        }

        span,
        svg,
        h2,
        img {
          z-index: $z-index-btn;
        }
        h2 {
          color: $white-2;
          font-size: $font-size-14;
          font-weight: 600;
        }
        @include btn-hover-animation($black-6);
      }
    }

    .playlists-model-item-share-con {
      height: 1.75rem;
      transition: height 0.25s;

      .playlists-model-item-share-btn {
        position: relative;
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          space-between,
          0,
          0.25rem 0.5rem
        );
        cursor: pointer;

        width: 100%;
        background-color: inherit;

        border-radius: $border-radius-1-2;
        svg,
        img {
          width: 0.875rem;
          aspect-ratio: 1/1;
          fill: $white-2;
          background-color: inherit;
        }

        span,
        svg,
        h2,
        img {
          z-index: $z-index-btn;
        }
        h2 {
          color: $white-2;
          font-size: $font-size-14;
          font-weight: 600;
        }
        @include btn-hover-animation($black-6);
      }
      .playlists-model-item-share {
        background-color: rgba($black-1, 0.2);
        border-radius: $border-radius-1-2;
        padding-bottom: 0.5rem;

        animation: grow 0.25s ease-in-out forwards;

        box-shadow: rgba($white-1, 0.02) 0px 1px 3px 0px,
          rgba($white-1, 0.15) 0px 0px 0px 1px;
        padding-inline: 0.25rem;
        margin: 0.5rem;

        li {
          &:not(last-type) {
            border-bottom: 1px solid $white-2;
          }
          &.playlists-model-item-item-share {
            width: 100%;
            position: relative;
            a,
            button {
              @include flex-direction-align-justify-gap-padding(
                row,
                center,
                space-between,
                0,
                0.25rem 0.5rem
              );
              cursor: pointer;

              width: 100%;
              background-color: inherit;

              border-radius: $border-radius-1-2;
              svg {
                width: 0.875rem;
                aspect-ratio: 1/1;
                fill: $white-2;
                background-color: inherit;
              }
              img {
                width: 1rem;
                aspect-ratio: 1/1;
                object-fit: cover;
              }

              span,
              svg,
              h2,
              img {
                z-index: $z-index-btn;
              }
              h2 {
                color: $white-2;
                font-size: $font-size-14;
                font-weight: 600;
              }
              @include btn-hover-animation($black-6);
            }
          }
        }
      }

      &.extend {
        height: 8.25rem;
        .playlists-model-item-share {
          height: 6rem;
          opacity: 1;
        }
      }
    }
  }
}
@keyframes grow {
  0% {
    height: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    height: 6rem;
  }
}
