.login-model-btn {
  padding: 0.75rem 1.5rem;
  border-radius: $border-radius-2;

  color: $black-2;

  font-weight: 700;
  font-size: $font-size-16;
  width: fit-content;

  cursor: pointer;
  position: relative;

  svg {
    display: none;
  }

  span {
    position: relative;
  }

  @include btn-hover-animation($gray-1);
  overflow: hidden;

  @container login-model-btn (max-width: 1rem) {
    svg {
      display: block !important;
      width: 1rem;
      height: 1rem;
    }
  }
}

.login-model {
  @include center-position(fixed);
  @include model-boxShadow;
  @include flex-direction-gap-padding(column, 1rem, 1rem);

  container-type: inline-size;
  container-name: login-model;

  width: clamp(10rem, 100%, 40rem);
  min-height: fit-content;

  border-radius: $border-radius-1-2;

  background-color: $black-2;
  color: $white-1;
  opacity: 0;

  z-index: $z-index-model;

  &.fade-in {
    animation: fade-in 0.2s forwards;
  }

  &.fade-out {
    animation: fade-out 0.2s forwards;
  }

  form {
    height: 100%;
    @include flex-direction-gap-padding(column, 0.5rem, 1rem);
    li {
      width: 100%;
      @include flex-direction-gap-padding(column, 0.5rem, 0);
      label {
        @include flex-direction-align-gap-padding(row, center, 0.5rem, 0);
        span {
          &.error {
            color: $red-1;
            font-size: $font-size-14;
            font-weight: 800;
          }
        }
      }
      input {
        background-color: $black-6;
        color: $white-1;

        border-radius: $border-radius-1-2;
        padding: 0.25rem 0.5rem;

        font-size: $font-size-16;
        &.error {
          box-shadow: rgba($red-1, 0.1) 0px 1px 1px 0px,
            rgba($red-1, 0.7) 0px 0px 0px 1px;
        }
      }
    }
    .actions {
      @include flex-direction-align-justify-gap-padding(
        row,
        center,
        space-between,
        0,
        0.5rem 0 0 0
      );

      margin-top: auto;
      button {
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          center,
          0,
          0 1.5rem
        );
        border-radius: $border-radius-2;

        color: $black-2;

        font-weight: 700;
        font-size: $font-size-16;
        height: 3rem;

        width: fit-content;
        position: relative;

        cursor: pointer;

        @include btn-hover-animation($gray-1);
        overflow: hidden;

        span {
          position: relative;
        }
      }
    }
  }
}

//Responsive
@container login-model (max-width:24rem) {
  .login-model {
    form {
      .actions {
        flex-direction: column;
        gap: 2rem;
        button {
          width: 100%;
        }
      }
    }
  }
}

//Animations
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  90% {
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}
@keyframes fade-in {
  0% {
    top: 100%;
  }

  100% {
    opacity: 1;
    top: 50%;
  }
}

//Has
body:has(.login-model) {
  .login-model,
  .login-model * {
    pointer-events: all;
  }
  :not(.login-model, .login-model *) {
    pointer-events: none;
  }
}
