.playlist-edit {
  @include flex-direction-gap-padding(column, 2rem, 0);
  position: relative;
  container-type: inline-size;
  container-name: playlist-edit;
  position: relative;
  overflow: auto;
  padding-bottom: 2rem;
  @include no-scrollBar;
  .actions-sentinel {
    position: fixed;
    height: 0;
    width: 100%;
    z-index: -1;
    top: 30vh;
  }
}

// .playlists-details {

//   @container (max-width: 60rem) {
//     .actions-sentinel {
//       top: 24vh;
//     }
//   }
//   @container (max-width: 54rem) {
//     .playlist-songs-list {
//       grid-template-rows: 0 1fr;
//     }
//   }
//   @container (max-width: 47rem) {
//     .actions-sentinel {
//       top: 17vh;
//     }
//   }
//   @container (max-width: 33rem) {
//     .actions-sentinel {
//       top: 13vh;
//     }
//   }
//   @container (max-width: 31rem) {
//     .actions-sentinel {
//       top: 20vh;
//     }
//     .playlists-details-hero {
//       flex-direction: column;
//       align-items: center;
//       gap: 0.25rem;
//       img {
//         width: 5rem;
//       }
//       .playlists-details-hero-info {
//         .playlists-details-hero-info-owner {
//           flex-direction: row;
//           flex-wrap: wrap;
//           justify-content: center;
//         }
//       }
//     }
//     .playlist-details-actions {
//       justify-content: center;
//     }
//   }
// }
