.main-content {
  @include flex-direction-gap-padding(column, 0, 0);
  max-width: 100%;
  .playlist-index {
    z-index: 0;
    max-height: calc(100vh - 16rem);
    overflow: auto;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    @include no-scrollBar;
  }
}
