.profile-index {
  padding-block: 1rem;
  .profile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      position: relative;
      width: 6rem;
      overflow: hidden;
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: $border-radius-1;
      background-color: $black-3;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 24px 0px,
        rgba(0, 0, 0, 0.2) 0px 6px 8px 0px;
      z-index: 0;
      span {
        color: $white-1;
        transition: color 0.3s transform 0.3s;
      }
      &:before {
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        transition: width 0.3s ease-out;
        background-color: $gray-1;
        z-index: -1;
      }
      &:hover {
        &:before {
          width: 100%;
        }
        span {
          color: $black-2;
        }
      }
      .highlight {
        display: block;
        color: $green-2 !important;
        transform: scale(1.1) ;
        font-weight: 700;
      }
    }
  }
}
