.volume-control {
  @include flex-direction-align-gap-padding(row, center, 0.75rem, 0);
  button {
    background-color: inherit;
    width: 1rem;
    height: 1rem;
    svg {
      width: 100%;
      height: 100%;
      fill: $gray-1;
    }
  }
  input[type="range"] {
    color: white;
    background-color: $gray-1;
    height: 0.25rem;
    border-radius: 3rem;
  }

  .volume-bar {
    width: 7rem;
    height: 0.25rem;
    background-color: $gray-2;
    border-radius: $border-radius-1-4;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    .volume-fill {
      background-color: $white-1;
      height: 100%;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
    }

    .volume-handle {
      width: 0.75rem;
      height: 0.75rem;
      background-color: $white-1;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.1s;
    }
    &:hover {
      .volume-handle {
        opacity: 1;
      }
      .volume-fill {
        background-color: $green-1;
      }
    }
  }

  .volume-btn {
    position: relative;
    &.no-vol {
      &::before {
        content: "";
        width: rem(2px);
        height: 100%;
        background-color: $gray-1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        position: absolute;
      }
    }
  }
}
