.song-model-list {
  width: 15rem;
  z-index: 1;
  position: absolute;
  right: 0;
  background-color: $black-5;
  border-radius: $border-radius-1-2;
  @include flex-direction-gap-padding(column, 1rem, 0.5rem);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 16px 24px 0px;
  .song-model-list-item {
    position: relative;
    width: 100%;
    .song-model-list-item-btn {
      width: 100%;
      background-color: inherit;
      border-radius: $border-radius-1-2;
      @include flex-direction-align-gap-padding(row, center, 1rem, 0.5rem);
      svg {
        width: 1rem;
        height: 1rem;
        z-index: 2;
        fill: $gray-1;
      }
      span {
        font-size: $font-size-14;
        font-weight: 800;
        z-index: 2;
        color: $gray-1;
      }
      .svg-con-margin {
        z-index: 2;
        margin-left: auto;
        width: 0.875rem;
        height: 0.875rem;
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          center,
          0,
          0
        );
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $black-2;
        border-radius: inherit;
        transition: width 0.4s ease-in-out;
        z-index: 0;
      }
      &:hover {
        .items-model-list {
          display: flex !important;
        }
        &:before {
          width: 100%;
        }
      }
    }
    .items-model-list {
      position: absolute;
      top: 0;
      left: -10rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 1px;
      border-radius: $border-radius-1-2;
      background-color: $black-5;
      z-index: 3;
      max-height: 10.5rem;
      overflow: auto;
      @include flex-direction-gap-padding(column, 0, 0 0.25rem);
      display: none;
      @include no-scrollBar;
      li {
        button {
          @include flex-direction-align-gap-padding(
            row,
            center,
            1rem,
            0.75rem 1rem
          );
          background-color: inherit;

          svg {
            width: 1rem;
            height: 1rem;
            z-index: 2;
            fill: $gray-1;
          }
          span {
            font-size: $font-size-14;
            font-weight: 600;
            z-index: 2;
            color: $gray-1;
          }
        }
        &:not(:last-of-type) {
          box-shadow: 0 1px 0 0 rgba(176, 176, 176, 0.5);
        }
      }
    }

    &:hover {
      .items-model-list {
        display: flex;
      }
    }
  }
}
