.search-index-playlist {
    @include flex-direction-gap-padding(column, 1rem, 0);
    width: 100%;
    ul {
      overflow: auto;
      max-height:40vh;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
      gap: 1rem;
      flex-wrap: wrap;
      @include no-scrollBar;

      
      li {
        padding: 0.75rem;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: $border-radius-1-4;
        transition: background-color 0.25s ease-in-out;
        a {
          display: block;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: $border-radius-1-4;
            overflow: hidden;
            transition: scale 0.25s ease-in-out;
          }
          button {
            position: absolute;
            background-color: $green-1;
            border-radius: 100vw;
            width: 3rem;
            right: 10%;
            bottom: 20%;
            transition: bottom 0.4s ease-in-out;
            opacity: 0;
            pointer-events: none;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 8px 0px;
            @include flex-direction-align-justify-gap-padding(
              row,
              center,
              center,
              0,
              0.75rem
            );
          }
        }

        &:hover {
          background-color: $black-5;
          a {
            img {
              scale: 1.05;
            }
            button {
              animation: fadeIn 0.25s forwards;
              pointer-events: all;
            }
          }
        }
      }

    }
  }