.search-index-songs {
  color: $white-2;

  height: fit-content;
  padding-inline: 5%;
  row-gap: 0.5rem;
  column-gap: 1rem;
  h2 {
    grid-area: 1/1/2/-1;
    max-width: fit-content;
    padding-bottom: 0.5rem;
  }

  .top-result {
    grid-area: 2/1/-1/2;
    @include full-size;

    .search-index-songs-list-item {
      @include flex-direction-align-justify-gap-padding(
        column,
        center,
        center,
        1rem,
        1rem
      );
      background-color: $black-6;
      border-radius: $border-radius-1-2;
      @include full-size;

      .img-con {
        position: relative;
        width: 50%;

        img {
          object-fit: cover;
          aspect-ratio: 1/1;
          border-radius: 100vh;
        }
        .play-btn {
          @include play-btn;
          @include center-position(absolute);
          transition: opacity $animation-duration-base,
            scale $animation-duration-base;
          pointer-events: none;
          &:hover {
            scale: 1.05;
          }
        }
      }
      .song-info {
        p {
          &:first-of-type {
            font-size: $font-size-16;
            font-weight: 700;
          }
          &:last-of-type {
            font-size: $font-size-14;
            color: $gray-1;
          }
        }
      }
      .song-actions {
        width: 100%;
        opacity: 0;
        transition: opacity $animation-duration-base;

        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          space-around,
          1rem,
          0
        );
        .like-btn,
        .songs-model-btn {
          width: 1rem;
          height: 1rem;
          pointer-events: none;
        }
      }
    }

    &:hover {
      .search-index-songs-list-item {
        .img-con {
          .play-btn {
            opacity: 0.5;
            pointer-events: all;
          }
        }
        .song-actions {
          opacity: 1;
          .like-btn,
          .songs-model-btn {
            pointer-events: all;
          }
        }
      }
    }
  }

  .search-index-songs-list {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, 3rem);
    row-gap: 0.5rem;
    column-gap: 1rem;
    .search-index-songs-list-item {
      height: 3rem;
      @include flex-direction-align-gap-padding(row, center, 1rem, 0.25rem);
      position: relative;
      transition: background-color 0.25s ease-in-out;
      border-radius: $border-radius-1-4;

      .song-info {
        max-width: calc(100% - 8.5rem - 7ch);
        p {
          @include text-overflow-ellipsis;

          &:first-of-type {
            color: $white-1;
            font-size: $font-size-16;
          }
          &:last-of-type {
            color: $gray-1;
            font-size: $font-size-14;
          }
        }
      }

      .img-con {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;

        .play-btn {
          @include play-btn;
          @include center-position(absolute);
          width: 75%;
          height: 75%;
          padding: 0.25rem;
          transition: opacity $animation-duration-base;

          &:hover {
            background-color: $green-1;
            fill: $black-2;
          }
        }

        img {
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
          border-radius: $border-radius-1-4;
        }
      }

      .song-actions {
        margin-left: auto;
        @include flex-direction-align-gap-padding(row, center, 0.75rem, 0);
        p {
          width: 7ch;
          text-align: center;
          @include text-overflow-ellipsis;
        }
        .like-btn,
        .songs-model-btn {
          width: 1rem;
          height: 1rem;
          pointer-events: none;
          opacity: 0;
          transition: opacity $animation-duration-base;
        }
      }

      &:hover,
      &:has(.song-model-list) {
        background-color: $black-3;
        .play-btn {
          opacity: 0.7;
          pointer-events: all;
          z-index: 1;
        }
        .song-actions {
          button {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}
