.playlist-edit-actions {
    @include flex-direction-align-gap-padding(row, center, 2rem, 0 1rem);
    background-color: inherit;

    .play-btn {
      @include play-btn-song-list(3rem);
    }

    &.stick {
      position: sticky;
      top: -1px;
      z-index: 1;
      backdrop-filter: blur(100000px);
      padding-block: 0.5rem;
    }
  }