.user-library-header {
  @include flex-direction-align-justify-gap-padding(
    row,
    center,
    space-between,
    1rem,
    1rem
  );

  .your-library-btn {
    @include flex-direction-align-gap-padding(row, center, 1rem, 0);

    svg {
      fill: $gray-1;
      width: 1.5rem;

      &:last-of-type {
        width: 1rem;
        transition: transform 0.3s;
      }
    }

    span {
      display: none;
    }
    &:hover {
      svg {
        &:last-of-type {
          fill: $white-1;
        }
      }
    }
  }
}

@media (max-width: rem(640px)) {
  .user-library-header {
    justify-content: center;
    gap: 0;
    .generic-model-btn {
      display: none;
    }
    .your-library {
      span {
        display: none;
      }
      svg {
        &:last-of-type {
          display: block;
          width: 1rem;
        }
      }
      &:hover {
        svg {
          &:last-of-type {
            fill: $white-1;
          }
        }
      }
    }
  }
  .full-size {
    .user-library-header {
      justify-content: space-between;
    }
  }
}
