.background-gradient {
  height: 70vh;
  position: absolute;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  opacity: 0;
  z-index: $z-index-background;

  &.show {
    opacity: 0.3;
  }
}
