.loader {
  display: grid;
  grid-auto-flow: column;
  width: 120px;

  div {
    --animation-duration: 1.5s;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: inherit;
    margin-inline: 10px;
    animation: scale var(--animation-duration) infinite linear;
  }

  @keyframes scale {
    30% {
      scale: 1;
    }

    50% {
      scale: 1.5;
    }

    80% {
      scale: 1;
    }
  }

  :nth-child(2) {
    animation-delay: calc(var(--animation-duration) / 5);
  }

  :nth-child(3) {
    animation-delay: calc(var(--animation-duration) / 5 * 2);
  }
}
