.app-header {
  height: 5rem;
  @include flex-direction-align-gap-padding(row, center, 0.5rem, 1rem);
  z-index: 1;
  .back-btn {
    background-color: $black-1;
    width: 2rem;
    height: 2rem;
    border-radius: 100vw;
    padding: 0.5rem;
    rotate: 180deg;
    svg {
      fill: $gray-1;
    }
  }
  .header-user-btn {
    margin-left: auto;
  }
}
