@font-face {
  font-family: Nunito;
  font-weight: 200;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-ExtraLight.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 300;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 400;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 500;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-Medium.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 600;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 700;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito;
  font-weight: 800;
  font-style: normal;
  src: url(/src/styles/fonts/Nunito/Nunito-ExtraBold.ttf);
}
