.context-menu {
    box-sizing: border-box;
    position: absolute;
    color: $clr4;
    background-color: $clr10;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 180px;
    font-family: Monstserrat;
    z-index: 1000;
    text-align: center;
    justify-items: center;

    li {
        list-style: none;
        grid-template-columns: 3rem auto;
        justify-items: center;
        border-radius: 8px;
        padding: .5em;
        width: 100%;
        font-size: .8rem;
        position: relative;
        align-items: center;
        @include hover-style;

        svg {
            width: 1.5em;
            height: 1.5em;
            fill: $clr4;
        }
    }

    .pick-playlist {
        position: relative;

        .text-cont {
            justify-self: baseline;
            gap: 1em;

            svg {
                width: .7rem;
                transform: rotate(90deg);
            }
        }

        .playlist-select {
            position: fixed;
            color: $clr4;
            background-color: $clr10;
            gap: .1em;

            li {
                background-color: $clr10;
                width: 100%;
                border: .1em solid $clr4;
                @include hover-style;

                button {
                    width: fit-content;
                }

            }

        }
    }

    .context-remove {
        width: 100%;

    }

    span,
    .share-context {
        justify-self: baseline;
    }

    .context-line {

        .share-context {
            align-items: center;
            gap: .5em;

            svg {
                width: .7rem;
                transform: rotate(90deg);
            }
        }

        .share-select {
            position: fixed;
            color: $clr4;
            background-color: $clr10;
            gap: .1em;

            li {
                gap: .4em;
                background-color: $clr10;
                border: .1em solid $clr4;
                height: 2.5em;

                svg {
                    height: 1rem;
                }

                &:hover {
                    background-color: $clr11;
                    cursor: pointer;
                }

                button {

                    width: fit-content;
                }

            }
        }

    }

}

@media (max-width:650px) {
    .context-menu {
        li {

            select {
                line-height: 7;
                font-size: .8rem;
                width: 100px;
            }
        }

        .pick-playlist {
            .playlist-select {
                background: none;
                border-radius: 8px;
                margin-left: -12px;
            }
        }
    }
}