.modal-backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    button {
        @include sidebar-button-style;
    }

    .modal-content {
        align-items: center;
        background-color: $color-background;
        padding: 20px;
        border-radius: $border-radius;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        gap: 1em;

        .back-btn {
            color: wheat;
            width: fit-content;
            height: fit-content;
            padding: 6px;
            align-self: flex-end;

            &:hover {
                animation: none;
                background-color: #1DB954;
            }
        }

        select {
            background-color: inherit;
            border-radius: 16px;
            width: 10em;
            align-self: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            color: wheat;
            font-family: $font-family-main;
            font-size: 1rem;
            text-align: center;

            >* {
                align-self: center;
                text-align: center;
                font-size: 1rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;

            h2 {
                color: white;
                margin-bottom: 20px;
            }

            input {
                margin-bottom: 10px;
                padding: 10px;
                border: none;
                border-radius: 5px;
            }

            button {
                background-color: #1DB954;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                align-self: center;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #1ED760;
                }
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            background-color: #282828;
            color: white;

            input[type="text"]::placeholder,
            input[type="email"]::placeholder,
            input[type="password"]::placeholder {
                color: #b3b3b3;
            }
        }
    }
}