.user-msg {
    padding-inline: 1em;
    position: absolute;
    bottom: 15%;
    right: 50%;
    translate: 50%;
    display: grid;
    grid-template-columns: 36px auto auto;
    column-gap: 4px;
    font-family: Monstserrat;
    text-align: center;
    max-width: 450px;
    align-items: center;
    font-weight: 400;
    border-radius: 10px;
    z-index: 1000;
    background-color: white;
    padding: 16px;

    img {
        border-radius: 4px;
        object-fit: scale-down;
    }

    h5 {
        font-family: Monstserrat;
        font-weight: bold;
        margin: 0;

        &::after {
            content: ' -';
        }
    }

    a {
        color: rgb(27, 139, 34);
        text-decoration: underline;
    }

    &.success {
        color: black;
    }

    &.error {
        color: red;
    }

    button {
        background-color: inherit;
        color: black;
    }
}