.user-acess {

    grid-area: 1/2/2/3;

    .user-nav {
        display: grid;
        grid-template-columns: auto 4rem;
        gap: 8px;

        button {
            height: 3rem;
            background-color: inherit;
            width: 100%;
            border: 1px solid whitesmoke;
            border-radius: 24px;
            margin: 1px;
            color: whitesmoke;
            cursor: pointer;
            transition: background-color 0.3s;
            position: relative;
            overflow: hidden;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            max-width: 192px;
        }

        .avatar {
            width: 3rem;
            border: 1px solid whitesmoke;
            border-radius: 100px;
            height: 3rem;
            display: grid;
            align-items: center;
            opacity: 70%;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;


            svg {
                width: 2rem;
                height: 2rem;
                align-self: center;
                justify-self: center;
                margin-bottom: 3px;
                filter: invert(58%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(87%) contrast(88%);

            }

            img {
                width: 2rem;
                height: 2rem;
                align-self: center;
                justify-self: center;
                margin-bottom: 3px;
            }
        }

        button:hover {
            animation: rgb-flashing 1s linear infinite;
        }

        @keyframes rgb-flashing {
            0% {
                background-color: #ff0000;
            }

            33% {
                background-color: #00ff00;
            }

            66% {
                background-color: #0000ff;
            }

            100% {
                background-color: #ff0000;
            }
        }
    }
}

.no-user {
    button {
        height: 3rem;
        background-color: inherit;
        width: 100%;
        border: 1px solid whitesmoke;
        border-radius: 24px;
        margin: 1px;
        color: whitesmoke;
        cursor: pointer;
        transition: background-color 0.3s;
        position: relative;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        max-width: 192px;
    }

    button:hover {
        animation: rgb-flashing 1s linear infinite;
    }

    @keyframes rgb-flashing {
        0% {
            background-color: #ff0000;
        }

        33% {
            background-color: #00ff00;
        }

        66% {
            background-color: #0000ff;
        }

        100% {
            background-color: #ff0000;
        }
    }
}