.home-list {
  @include flex-direction-gap-padding(column, 1rem, 0.75rem);
  .playlist-list {
    scroll-snap-align: end;
    .playlist-list-header {
      @include flex-direction-align-justify-gap-padding(
        row,
        center,
        space-between,
        0,
        0 1rem 0.5rem 0
      );
      h2 {
        color: $white-1;
        font-size: $font-size-24;
      }
      a {
        @include general-link;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.25rem;
      li {
        position: relative;
        border-radius: $border-radius-1-4;
        padding: 0.75rem;
        background-color: inherit;
        transition: background-color 0.25s ease-in-out;

        a {
          @include full-size;

          img {
            border-radius: $border-radius-1-4;
            aspect-ratio: 1/1;
            object-fit: cover;
          }

          h3 {
            @include text-overflow-ellipsis;
            color: $white-1;
            font-size: $font-size-16;
            font-weight: 500;
            padding-block: 0.25rem;
            max-width: 100%;
          }

          p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            @include text-overflow-ellipsis-warp;
            font-size: $font-size-14;
          }
        }

        &:nth-of-type(6) ~ * {
          display: none;
        }

        button {
          @include play-btn;
          right: 10%;
          bottom: 20%;
          transition: opacity 0.25s ease-in-out, bottom 0.4s ease-in-out,
            box-shadow 0.4s ease-in-out, scale 0.2s ease-in-out;
          &.playing {
            bottom: 25%;
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
          }
        }

        &:hover {
          background-color: $black-5;
          button {
            bottom: 25%;
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
            &:hover {
              scale: 1.05;
              box-shadow: 0 0 2px rgba($black-1, 0.7);
            }
          }
        }
      }
    }
  }
}
