.playlist-details,
.playlist-edit {
  @include flex-direction-gap-padding(column, 0, 0 1rem);
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
  @include no-scrollBar;

  .actions-sentinel {
    position: absolute;
    width: 100%;
    display: block;
    z-index: -100;
    top: 29vh;
  }

  &:has(.stick) {
    .actions-sentinel {
      top: calc(29vh - 5rem);

    }
    .playlist-songs-list {
      grid-template-rows: 1fr;
      .song-list {
        padding-top: 1.5rem;
      }
    }
  }
}
