.search-edit-songs {
  scroll-snap-align: end;
  .add_song_title {
    padding: 1rem 0.5rem;
  }

  .search-box {
    margin-inline: 1rem;
  }

  .search-song-list {
    @include flex-direction-align-gap-padding(column, center, 1rem, 1rem 0);

    .search-index-songs-list-item {
      height: 3rem;
      width: 100%;
      @include flex-direction-align-gap-padding(
        row,
        center,
        1rem,
        0 1rem 0 3.5rem
      );
      position: relative;
      transition: background-color 0.25s ease-in-out;
      border-radius: $border-radius-1-4;
      .song-info {
        p {
          &:first-of-type {
            color: $white-1;
            font-weight: 800;
          }
          &:last-of-type {
            color: $gray-1;
            font-size: $font-size-14;
          }
        }
      }
      .play-btn {
        position: absolute;
        left: 1.5rem;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        @include play-btn-song-list(1.5rem, 0.25rem);
        background-color: $black-2;
        fill: $gray-1;
        display: block;
        transition: all 0.25s ease-in-out;

        &:hover {
          background-color: $green-1;
          fill: $black-2;
        }
      }

      img {
        width: 2.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: $border-radius-1-4;
      }

      .playlist-songs-list-preview-actions {
        margin-left: auto;
        @include flex-direction-align-gap-padding(row, center, 1rem, 0);

        .like-btn,
        .songs-model-btn {
          width: 1rem;
          height: 1rem;
          background-color: inherit;
          fill: $gray-1;
          pointer-events: none;
          opacity: 0;
          transition: opacity 0.25s ease-in-out;
        }
      }

      &:hover {
        background-color: $black-3;

        .play-btn {
          opacity: 0.9;
          pointer-events: all;
          z-index: 1;
        }

        .playlist-songs-list-preview-actions {
          button {
            opacity: 1;
            pointer-events: all;
          }
        }
      }

      &:has(.songs-model) {
        background-color: $black-3;

        .like-btn,
        .generic-model-btn {
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
  }
}
