.playlist-details-hero,
.playlist-edit-hero {
  @include flex-direction-align-gap-padding(row, flex-end, 2rem, 0 1rem);

  img {
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: $border-radius-1-4;
    transition: width $animation-duration-base;
    position: relative;
  }

  .playlist-details-hero-info,
  .playlist-edit-hero-model-btn {
    @include flex-direction-align-justify-gap-padding(
      column,
      flex-start,
      flex-end,
      0,
      0
    );
    @include text-overflow-ellipsis;
    @include full-size;

    h3 {
      @include text-overflow-ellipsis;
      width: 100%;
      font-size: rem(96px);
      color: $white-1;
      line-height: 1.05;
      transition: font-size $animation-duration-base;
    }

    h4 {
      @include text-overflow-ellipsis;
      width: 100%;
      font-size: $font-size-16;
      color: $gray-1;
      padding-bottom: 0.5rem;
    }

    .playlist-details-hero-info-owner,
    .playlist-edit-hero-info-owner {
      @include flex-direction-align-gap-padding(row, center, 0.5rem, 0);

      img {
        width: 2rem;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100vw;
      }
      p {
        font-size: $font-size-16;
        color: $white-1;
        &:first-of-type {
          font-weight: 800;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          font-weight: 700;
        }
        &:last-of-type {
          color: $gray-1;
        }
        &:not(:last-of-type)::after {
          content: "•";
          padding-left: 0.5em;
        }
      }
    }
  }
}
