.search-edit-songs {
  .add_song_title {
    padding: 1rem 0.5rem;
  }

  .search-box {
    margin-inline: 1rem;
  }

  .search-song-list {
    @include flex-direction-align-gap-padding(
      column,
      center,
      1rem,
      1rem  2rem
    );

    .search-index-songs-list-item {
      height: 3rem;
      width: 100%;
      @include flex-direction-align-gap-padding(row, center, 1rem, 0.5rem);
      transition: background-color 0.25s ease-in-out;
      border-radius: $border-radius-1-4;

      .img-con {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        img {
          @include full-size;
          object-fit: cover;
          border-radius: $border-radius-1-4;
        }
        .play-btn {
          @include play-btn;
          @include center-position(absolute);
          padding: 0.25rem;
          width: 75%;
          aspect-ratio: 1/1;
        }
      }
      .song-info {
        p {
          &:first-of-type {
            color: $white-1;
            font-weight: 800;
          }
          &:last-of-type {
            color: $gray-1;
            font-size: $font-size-14;
          }
        }
      }

      .song-actions {
        margin-left: auto;
        @include flex-direction-align-gap-padding(row, center, 0.75rem, 0);
        p {
          width: 7ch;
          text-align: center;
          @include text-overflow-ellipsis;
        }
        .like-btn,
        .songs-model-btn {
          width: 1rem;
          height: 1rem;
          pointer-events: none;
          opacity: 0;
          transition: opacity $animation-duration-base;
        }
      }

      &:hover,
      &:has(.song-model-list) {
        background-color: $black-3;
        .play-btn {
          opacity: 0.7;
          pointer-events: all;
          z-index: 1;
        }
        .song-actions {
          button {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}
