.sidebar-nav {
  @include flex-direction-gap-padding(column, 1.5rem, 1.5rem);
  border-radius: $border-radius-1-2;
  background-color: $black-2;
  align-items: center;
  .sidebar-nav-link {
    @include flex-direction-alignItems-gap-padding(row, center, 1rem, 0);
    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: $gray-1;
    }
    span {
      font-weight: 800;
      display: none;
    }
    &.link-clicked {
      svg {
        fill: white;
      }
      span {
        color: white;
      }
    }
  }
}

.full-size {
  .sidebar-nav {
    align-items: baseline;
    .sidebar-nav-link {
      span {
        display: inline;
      }
    }
  }
}

@media (max-width: rem(640px)) {
  .sidebar-nav {
    align-items: center;
    span {
      display: none;
    }
  }
}
