.sidebar-nav {
  @include flex-direction-align-gap-padding(column, center, 1.5rem, 1.5rem);

  border-radius: $border-radius-1-2;
  background-color: $black-2;

  .sidebar-nav-link {
    @include flex-direction-align-gap-padding(row, center, 1rem, 0);
    width: 100%;
    justify-content: center;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: $gray-1;
    }

    span {
      font-weight: 800;
      display: none;
    }

    &.link-clicked {
      svg {
        fill: $white-1;
      }
      span {
        color: $white-1;
      }
    }

    &.notification {
      position: relative;
      .notification-badge {
        position: absolute;
        text-align: center;
        @include flex-direction-align-justify-gap-padding(
          row,
          center,
          center,
          0,
          0
        );

        width: 1rem;
        height: 1rem;

        top: -0.25rem;
        left: 0.75rem;

        background-color: $red-1;
        color: $white-1;

        border-radius: 100vw;
        font-size: $font-size-10;
      }
    }
  }
}

.full-size {
  .sidebar-nav {
    align-items: baseline;
    .sidebar-nav-link {
      justify-content: flex-start;

      span {
        display: inline;
        @include after-border-grow($gray-1);
      }
    }
  }
}


