.side-bar {
  min-height: 100%;
  transition: width 0.1s;
  @include flex-direction-gap-padding(
    column,
    0.5rem,
    0.5rem 0.25rem 0.5rem 0.5rem
  );
  width: 6rem;
  max-height: calc(100vh - 6rem);

  &.full-size {
    width: clamp(17rem, 20vw, 20rem);
  }
}

@media (max-width: rem(640px)) {
  .side-bar {
    width: 6rem;
    min-height: auto;
    height: calc(100svh - 5rem);
    border-bottom-left-radius: $border-radius-1-2;
    border-bottom-right-radius: $border-radius-1-2;

    &.full-size {
      width: 100svw;
      height: calc(100svh - 5.5rem);

      z-index: 5;
      position: absolute;
      background-color: $black-2;

      span,
      p,
      .generic-model-btn {
        display: block;
      }
    }
  }
}
