.side-bar {
  height: 100%;
  transition: width 0.1s;
  @include flex-direction-gap-padding(
    column,
    0.5rem,
    0.5rem 0.25rem 0.5rem 0.5rem
  );
  width: 6rem;

  &.full-size {
    width: clamp(17rem, 20vw, 20rem);
  }
}

@media (max-width: rem(640px)) {
  .side-bar {
    width: 6rem;

    &.full-size {
      width: 100svw;
      height: calc(100svh - 5rem);
      z-index: 5;
      position: absolute;
      background-color: $black-2;

      span,
      p,
      .generic-model-btn {
        display: block;
      }
    }
  }
}
