@mixin flex-direction-align-justify-gap-padding(
  $direction,
  $align,
  $justify,
  $gap,
  $padding
) {
  @if index($allowed-directions, $direction) == null {
    @error "Invalid direction value: #{$direction}. Allowed values are: #{$allowed-directions}";
  }
  @if index($allowed-align-items, $align) == null {
    @error "Invalid align-items value: #{$align}. Allowed values are: #{$allowed-align-items}";
  }
  @if index($allowed-justify-content, $justify) == null {
    @error "Invalid justify-content value: #{$justify}. Allowed values are: #{$allowed-justify-content}";
  }

  padding: $padding;
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
}

@mixin flex-direction-alignItems-gap-padding(
  $direction,
  $align,
  $gap,
  $padding
) {
  padding: $padding;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align;
}

@mixin flex-direction-gap-padding($direction, $gap, $padding) {
  padding: $padding;
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin center-position($position) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: $position;
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-overflow-ellipsis-warp {
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin no-scrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin center-position($position) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: $position;
}

@mixin model-boxShadow {
  box-shadow: 0px 10px 3000px 1500px rgba(0, 0, 0, 0.5);
}

@mixin play-btn {
  position: absolute;
  background-color: $green-1;
  border-radius: 100vw;
  width: 3rem;
  @include flex-direction-align-justify-gap-padding(
    row,
    center,
    center,
    0,
    0.75rem
  );
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin btn-chn-color($color) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    height: 100%;
    background-color: $color;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 0;
  }

  &:hover::before {
    transform: translateX(0);
  }
}
